html {
  font-family: sans-serif;
  background-color: #808080;
  height: 100%;
}
body {
  margin: 0;
  position: relative;
  min-height: 100%;
}
#pool {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fefefe;
}
#pool td {
  width: 29px; /* same as (unitSide - self.border-width) on gedrag.js*/
  height: 29px; /* same as self.width */
  border: 1px solid #ccc;
  padding: 0;
  cursor: pointer;
}
.life {
  background-color: #333;
}
#panel {
  position: absolute;
  height: 70px; /* same as panelHeight on gedrag.js */
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(120, 120, 120, .5);
  overflow: hidden;
}
#do {
  float: left;
}
#help {
  float: right;
  padding: 0 2em;
}
#help > * {
  float: left;
  font-size: 2em;
  line-height: 69px;
}
h1 {
  margin: 0 1em 0 0;
}
#do {
  padding: 5px;
}
#do button {
  width: 7em;
  height: 2em;
  font-size: 1.8em;
  cursor: pointer;
}
#do button[disabled] {
  cursor: not-allowed;
}
