html {
  font-family: sans-serif;
}
body {
}
#pool {
  border-collapse: collapse;
  border-spacing: 0;
}
#pool tr {
}
#pool td {
  width: 2em;
  height: 2em;
  border: 1px solid #ccc;
}
.live {
  background-color: #333;
}
#next {
  width: 4em;
  height: 2em;
  font-size: 2em;
}
